<h1>New Entry for <%= @place.name %></h1>

<%= form_with model: @entry, url: place_entries_path(@place) do |form| %>

  <%= form.hidden_field :place_id, value: @place.id %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "Create Entry" %>
  </div>

<% end %>

<%= link_to "Back to Place", place_path(@place) %>