<h1><%= @place.name %></h1>

<h2>Entries</h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <strong><%= entry.title %></strong><br>
      <%= entry.occurred_on %><br>
      <%= entry.description %>
    </li>
  <% end %>
</ul>

<%= link_to "New Entry", new_place_entry_path(@place) %>
<br>
<%= link_to "Back to Places", places_path %>
